body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: hsl(234, 29%, 20%);
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 2.8rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

#modal {
  display: none;
}

#main-page {
  display: block;
}

section {
  padding: 1.8rem;
}

#illu-mobile {
  display: block;
}

#illu-desktop {
  display: none;
}

em {
  font-style: normal;
  font-weight: bold;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
}

#form-section {
  display: flex;
  flex-direction: column;
}

#email {
  padding: 1.5rem;
  border: solid 0.1rem hsl(231, 7%, 60%);
  border-radius: 0.5rem;
  color: hsl(231, 7%, 60%);
  margin-top: 1rem;
}

#newsletter-btn {
  padding: 1.5rem 0;
  font-weight: bold;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,82,123,1) 0%, rgba(255,89,104,1) 31%, rgba(255,99,76,1) 62%, rgba(255,106,58,1) 100%);
  border: solid 0.1rem transparent;
  color: white;
  margin-top: 1rem;
  box-shadow: 2px 4px 21px 2px rgba(255,89,104,0.46);
  cursor: pointer;

  &:disabled {
    background: none;
    background-color: hsl(235, 18%, 26%);
    border: solid 0.1rem hsl(235, 18%, 26%);
    box-shadow: none;
    cursor: not-allowed;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: initial;
    height: 98vh;
  }

  #main-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #container-img {
    height: 87%;
    width: 50%;
    margin-left: 1rem;
  }

  #illu-mobile {
    display: none;
  }
  
  #illu-desktop {
    display: block;
    width: 100%;
    object-position: -1rem;
  }
}


